In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import gc; gc.enable()

from utilities import DfLowMemory, DfLowMemoryTest
from utilities import CleanData

from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from category_encoders import WOEEncoder, TargetEncoder
from xgboost import XGBClassifier
from imxgboost.imbalance_xgb import imbalance_xgboost as imb_xgb

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression

from collections import defaultdict

import warnings
warnings.filterwarnings('ignore')

In [3]:
# reduce the memory of the dataset
df_train = DfLowMemory('train_ver2.csv')

In [4]:
# cleaning the data set so that there are no missing values
df_train = CleanData(df_train)

In [5]:
#Selecting only a few months as proposed by BreakfastPirate
df_train_may15 = df_train[df_train['fecha_dato'] == '2015-05-28']
df_train_June15 = df_train[df_train['fecha_dato'] == '2015-06-28']
df_train_may16 = df_train[df_train['fecha_dato'] == '2016-05-28']

In [6]:
df = pd.concat([df_train_may15, df_train_June15, df_train_may16])

In [7]:
df.drop_duplicates(subset='ncodpers',keep='last', inplace=True)

In [8]:
targets = [c for c in df.columns.tolist() if '_ult1' in c]

In [9]:
# there are the columns that are going to be used to train the model (feature columns)
used_cols = [c for c in df.columns.tolist() if c not in ['ncodpers', 'fecha_dato', 'fecha_alta',
'ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1',
 'ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1',
 'ind_nomina_ult1', 'ind_nom_pens_ult1','ind_recibo_ult1']]

In [10]:
used_cols = [c for c in df.columns.tolist() if c not in ['ncodpers', 'fecha_dato', 'fecha_alta']]

## Model Training

In [11]:
# isntantiating a dictionary to put the model results
id_preds = defaultdict(list)

#getting the ids of the customers in the dataset
ids = df['ncodpers'].values

In [119]:
predictions = []
# This is just showing the training of the first 24 products. In the future I am going to train all 24 products
for target in targets[:7]:
    X = df[used_cols].values
    y = df[target]

    encoder = TargetEncoder()
    X = encoder.fit_transform(X, y)
    
    train_size = int(len(X) * 0.5)
    y_train = int(len(y) * 0.5)
    X_train, X_test = X[0:train_size], X[train_size:]
    y_train, y_test = y[0:train_size], y[train_size:]
    
    model = imb_xgb(special_objective='focal', focal_gamma=2.0, 
                    num_round=50, max_depth=6, eta=0.1)
    model.fit(X_train.values, y_train.values)
    
    #X_test = df[used_cols].values
    X_test = encoder.transform(X_test.values)
    
#     y_pred = model.predict_proba(X_test.values)[:,1]
    y_pred = model.predict_two_class(X_test.values)[:,1] 
    
#     for i, cust_id in enumerate(ids):
#         id_preds[cust_id].append(y_pred[i])

    # for each target in targets, predict for the customer-base
    # and collect the predicted probabilities
    predictions.append(y_pred)

In [ ]:
predictions = np.array(predictions).T

In [ ]:
predictions

In [87]:
df_test = df[train_size:]

In [88]:
df_test = df_test.iloc[:,24:]

In [61]:
df[train_size:].shape

(281638, 48)

In [112]:
i=0
for target in targets[:7]:
    print(target)
    print((df_test[target], predictions[:,i]))
    i+=1

ind_ahor_fin_ult1

ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.

In [116]:
df[df['ind_ahor_fin_ult1'] == 1]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
3482710,2015-06-28,241755,N,ES,H,44,2001-04-23,0.0,182,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3586573,2015-06-28,177716,N,ES,V,44,2000-05-31,0.0,182,1.0,...,0,0,0,1,0,0,0,0.0,0.0,0
3711491,2015-06-28,508045,N,ES,V,52,2004-12-23,0.0,127,1.0,...,0,0,0,1,0,0,0,0.0,0.0,1
12742215,2016-05-28,635336,N,ES,V,49,2007-10-02,0.0,117,1.0,...,0,1,0,0,1,0,0,0.0,0.0,0
12777407,2016-05-28,525240,N,ES,V,43,2005-03-28,0.0,134,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12796394,2016-05-28,508933,N,ES,H,54,2004-12-29,0.0,137,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12796396,2016-05-28,508930,N,ES,V,57,2004-12-29,0.0,137,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12796602,2016-05-28,508437,N,ES,V,60,2004-12-27,0.0,137,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12799767,2016-05-28,500232,N,ES,H,64,2004-11-12,0.0,138,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12800200,2016-05-28,501762,N,ES,H,54,2004-11-15,0.0,138,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12817526,2016-05-28,604274,N,ES,H,58,2006-03-23,0.0,115,1.0,...,0,0,0,1,0,0,0,0.0,0.0,0
12822954,2016-05-28,545729,N,ES,V,42,2005-08-04,0.0,129,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12823421,2016-05-28,550764,N,ES,V,68,2005-08-23,0.0,129,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12825211,2016-05-28,576879,N,ES,V,44,2005-11-01,0.0,127,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12826963,2016-05-28,581238,N,ES,H,45,2005-11-21,0.0,126,1.0,...,0,0,0,1,0,0,0,0.0,0.0,0
12831582,2016-05-28,571194,N,ES,V,33,2005-10-21,0.0,127,1.0,...,0,0,0,1,0,0,0,0.0,0.0,0
12831831,2016-05-28,571347,N,ES,V,51,2005-12-05,0.0,127,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12832170,2016-05-28,571346,N,ES,V,47,2005-10-21,0.0,127,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12950969,2016-05-28,173307,N,ES,V,51,2000-04-18,0.0,193,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12958126,2016-05-28,188153,N,ES,V,46,2000-08-16,0.0,189,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12958288,2016-05-28,189576,N,ES,V,44,2000-08-29,0.0,189,1.0,...,0,0,0,1,0,1,0,1.0,1.0,1
12961528,2016-05-28,180803,N,ES,V,51,2000-07-05,0.0,190,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12971738,2016-05-28,152921,N,ES,V,47,2004-02-14,0.0,147,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12972831,2016-05-28,159754,N,ES,V,73,2000-02-08,0.0,195,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
12973784,2016-05-28,157931,N,ES,V,51,2000-01-27,0.0,196,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12979391,2016-05-28,229889,N,ES,V,41,2001-03-19,0.0,182,1.0,...,0,0,0,1,0,1,1,0.0,0.0,1
12980404,2016-05-28,234709,N,ES,H,44,2001-03-29,0.0,182,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
12983170,2016-05-28,221892,N,ES,H,47,2001-02-12,0.0,183,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
12984395,2016-05-28,225185,N,ES,V,49,2001-02-26,0.0,183,1.0,...,0,0,0,0,1,0,0,0.0,1.0,1
12988867,2016-05-28,238412,N,ES,V,46,2002-07-10,0.0,166,1.0,...,0,0,0,1,0,0,1,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13049526,2016-05-28,123518,N,ES,H,44,1999-03-01,0.0,207,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
13055034,2016-05-28,78817,N,ES,H,46,1997-12-09,0.0,221,1.0,...,0,0,0,1,0,0,0,0.0,0.0,1
13055453,2016-05-28,76006,N,ES,H,48,1997-11-10,0.0,222,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13055454,2016-05-28,76007,N,ES,V,52,2004-09-14,0.0,222,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13061474,2016-05-28,101194,N,ES,V,46,1998-07-29,0.0,214,1.0,...,0,0,0,1,0,0,0,0.0,0.0,1
13065914,2016-05-28,411345,N,ES,V,43,2003-03-17,0.0,137,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
13073111,2016-05-28,426157,N,ES,H,46,2003-07-04,0.0,155,1.0,...,0,0,0,1,0,1,0,0.0,0.0,0
13098325,2016-05-28,459125,N,ES,V,53,2004-02-12,0.0,147,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13108346,2016-05-28,473916,N,ES,V,52,2004-05-13,0.0,144,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13110549,2016-05-28,438359,N,ES,V,42,2003-10-06,0.0,151,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13117138,2016-05-28,451418,N,ES,H,43,2004-01-02,0.0,149,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13122311,2016-05-28,449978,N,ES,V,59,2003-12-22,0.0,149,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13122456,2016-05-28,449091,N,ES,V,54,2003-12-16,0.0,149,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13124059,2016-05-28,291447,N,ES,H,41,2001-11-06,0.0,174,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13135625,2016-05-28,296457,N,ES,V,44,2001-11-15,0.0,174,1.0,...,0,0,0,0,0,1,0,0.0,0.0,1
13136709,2016-05-28,303821,N,ES,V,50,2001-12-03,0.0,174,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13138564,2016-05-28,261892,N,ES,V,43,2001-07-16,0.0,178,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13139152,2016-05-28,258292,N,ES,V,48,2002-04-09,0.0,169,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13142640,2016-05-28,251546,N,ES,V,56,2005-12-13,0.0,179,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13142642,2016-05-28,251544,N,ES,H,54,2001-06-06,0.0,179,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13146707,2016-05-28,275486,N,ES,V,42,2002-09-02,0.0,165,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13148131,2016-05-28,278015,N,ES,V,48,2001-10-03,0.0,176,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13149270,2016-05-28,268526,N,ES,V,43,2001-08-17,0.0,177,1.0,...,1,0,0,0,0,0,0,0.0,0.0,1
13151591,2016-05-28,270730,N,ES,V,43,2001-09-05,0.0,176,1.0,...,0,0,0,0,0,0,1,0.0,0.0,0
13153504,2016-05-28,350161,N,ES,V,49,2002-04-15,0.0,169,1.0,...,0,0,0,1,0,0,0,0.0,0.0,1
13158696,2016-05-28,348313,N,ES,H,44,2002-04-08,0.0,169,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13161946,2016-05-28,370560,N,ES,V,63,2002-07-09,0.0,166,1.0,...,0,0,0,0,0,0,1,0.0,0.0,0
13173572,2016-05-28,315724,N,ES,V,46,2002-01-15,0.0,172,1.0,...,0,0,0,1,0,0,0,0.0,0.0,1
13178150,2016-05-28,329064,N,ES,H,51,2007-12-10,0.0,171,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13178151,2016-05-28,329061,N,ES,V,49,2002-02-11,0.0,171,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [117]:
train_size

657154